<div id="<%= dom_id note %>">
  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= note.author.username %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= note.parent.title %>
  </p>

</div>
