<div id="<%= dom_id note %>">

  <h2><%= note.parent.title %></h2>

  <p>
    <button class="btn btn-dark" data-bs-toggle="collapse" href="#collapseInfo">Show info</button>
  </p>

  <div class="collapse" id="collapseInfo">
    <%= render partial: "/notes/note_small", locals: { note: note } %>
  </div>
  
  <p class="trix-content">
    <%= note.content %>
  </p> 

</div>
