<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column align-items-center">
  <h1>Notes</h1>
  <%= paginate @notes %>
</div>

<div id="notes" class="d-flex flex-wrap justify-content-center">
  <% @notes.each do |note| %>
    <div class="pt-2 pb-3 ps-3">
      <%= render partial: "/notes/note_small", locals: { note: note } %>
    </div>
  <% end %>
</div>
