<p style="color: green"><%= notice %></p>

<h1 class="text-center">Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <div class="card m-2 ps-1 ">
      <%= render partial: "/notes/note_small", locals: { note: note } %>
    </div>
  <% end %>
</div>
