<p style="color: green"><%= notice %></p>

<h1 class="text-center">Notes</h1>

<div id="notes" class="d-flex flex-wrap justify-content-center">
  <% @notes.each do |note| %>
    <div class="pt-4 ps-3">
      <%= render partial: "/notes/note_small", locals: { note: note } %>
    </div>
  <% end %>
</div>
