<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render partial: "/notes/note_small", locals: { note: note } %>
    <p>
      <%= link_to "Show this note", game_note_path(note.parent, note) %>
    </p>
  <% end %>
</div>
