<div class="text-center">
  <h3>Search again?</h3>
  <%= render "form" %>
</div>

<%# only render if there are results %>
<div class="d-flex flex-wrap justify-content-center">
<% 3.times do %>
  <div class="pt-4 ps-3">
    <%= render "display" %>
  </div>
<% end %>
</div>
<br>
