<h1><%= @user.username %></h1>
<h2>Notes</h2>
<ul>
  <% @user.notes.each do |note| %>
    <li>
      
      <%= link_to "#{note.title}", "/notes/#{note.id}", class: "nav-link" %>
    </li>
  <% end %>
</ul>
