<nav class="navbar navbar-expand secondary mb-4 sticky-top border-bottom">
  <div class="container">

    <%= link_to "stray thoughts", root_path, class: "navbar_brand fs-5 text_color" %>
    
    <div id="navbarSupportedContent">
      
      <%= render partial: "/shared/navbar_mobile" %>
      <%= render partial: "/shared/navbar_big" %>
  
    </div>
  </div>
</nav>
