<%= form_with(url: "/search/results", method: :get, class: "nav-link") do |form| %>
  <div>
    <%= form.text_field :year, placeholder: "Input a year!" %>
    <%= form.submit "Search" %>
  </div>
<% end %>
