<%= form_with(url: "/search/:year", method: :get, class: "nav-link") do |form| %>
  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.text_field :year %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
