<div class="text-center">
  <h3>Search again?</h3>
  <%= render "search" %>
</div>

<div class="d-flex flex-wrap justify-content-center">
<% 3.times do %>
  <div class="pt-2 ps-3">
    <%= render "searching" %>
  </div>
<% end %>
</div>
<br>
