<div>
  <button type="button" class="btn btn-dark mb-5" data-bs-toggle="modal" data-bs-target="#exampleNoteModal">
    Here's an example of a note!
  </button>
</div>

<div class="modal fade" id="exampleNoteModal" tabindex="-1" aria-labelledby="exampleNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header secondary">
        <h1 class="modal-title fs-5" id="exampleNoteModalLabel">Click the game title to minimize the sidebar!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body background">
        <%= render "notes/note", note: @note %>
      </div>
    </div>
  </div>
</div>
