<br>

<div class="text-center text_color d-flex flex-column px-1 py-2">

  <div class="d-flex justify-content-around mt-5">
    <div class="text-start mt-3">
      <h1>Discover<br/>& Catalogue games<br/>all in one tab.</h1>
      <%= link_to search_path do %>
        <button class="btn btn-dark">Get started</button>
      <% end %>
    </div>

    <%= image_tag("static21", class: "rounded", style: "max-width:60vh;") %>
  </div>

  <br>
  <div class="d-flex justify-content-around accent border rounded pt-3 pe-3">
    <ul>
      <h3>Discover</h3>
      <span class="text-start">
        <li>
          <p>Search through a vast database of games, courtesy of <%= link_to("Giant Bomb", "https://www.giantbomb.com/") %></p>
        </li>
        <li>
          <p>Input a year at the top of the page to conduct a search, which will display 3 random games from the given year</p>
        </li>
        <li>
          <p>Games will be displayed with their title, an image (if available), the platforms they're available on, as well as a short description (if available)</p>
        </li>
      </span>
    </ul>

    <ul>
      <h3>Catalogue</h3>
      <span class="text-start">
        <li>
          <p>Once you find a game you're interested in, you can create a Note based off of it, saving all the sample data for easy access</p>
        </li>
        <li>
          <p>Notes can be as simple as you like; use them to jot down your thoughts, or to contain handy links and images</p>
        </li>
        <li>
          <p>Notes can be viewed and edited from your notebook, linked at the top of the page</p>
        </li>
      </span>
    </ul>
  </div>

  <br>
   

  <br>
  <hr>
  <br>

  <div>
    <p>
      <strong>Here's an example of a note!</strong>
    </p>

    <%= render "notes/note", note: @note %>
    
  </div>
</div>
