<div class="text-center text_color d-flex flex-column px-1 py-2">
  <h1>Stray Thoughts</h1>
  <h2>Discover and Catalogue games, <u>all in one tab.</u></h2>

  <p>
   <strong>New here? Click the button below to get started!</strong>
  </p>

  <%= link_to search_path do %>
    <button class="btn btn-primary">Get started</button>
  <% end %>

  <hr>

  <div>
    <p>
      <strong>Here's an example of a note!</strong>
    </p>

    <%= render "notes/note", note: @note %>
    
  </div>
</div>
