<div class="text-center text-color d-flex flex-column mt-5 pt-5">
  
  <span class="background-image d-none d-sm-block"></span>
  <span class="padding-small d-none d-sm-block"></span>
  <h1 class="one-liner">Discover & Catalogue all in one tab.</h1>

  <% if current_user == nil %>
    <%= link_to new_user_session_path do %>
      <button class="btn btn-dark btn-lg mt-5">Get started</button>
    <% end %>
  <% else %>
    <%= link_to search_path do %>
      <button class="btn btn-dark btn-lg mt-5">Get started</button>
    <% end %>
  <% end %>

  <span class="padding d-none d-sm-block"></span>

  <div class="container text-start features">
    <h2 class="mt-5 mb-3">How it works...</h2>
    <div class="px-2 py-2 mb-5 border rounded accent">
      <h3><i class="fa-solid fa-magnifying-glass"></i> Discover</h3>
      <p>Search through a vast database of games, courtesy of <%= link_to("Giant Bomb", "https://www.giantbomb.com/") %></p>
      <p>Input a year at the top of the page to conduct a search, which will display 3 random games from the given year</p>
      <p>Games will be displayed with their title, an image (if available), the platforms they're available on, as well as a short description (if available)</p>
    </div>

    <div class="px-2 py-2 mb-5 border rounded accent">
      <h3><i class="fa-regular fa-folder"></i> Catalogue</h3>
      <p>Once you find a game you're interested in, you can create a Note based off of it, saving all the sample data for easy access</p>
      <p>Notes can be as simple as you like; use them to jot down your thoughts, or to contain handy links and images</p>
      <p>Notes can be viewed and edited from your notebook, linked at the top of the page</p>
    </div>
  </div>
  <span class="container text-start"><%= render "modal" %></span>
</div>
