/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .height_100 {
  position: absolute;
 }

 .note_thumbnail {
  max-height: 20vh;
  max-width: 20vh;
 }
 
 .background {
  background-color: #FFF8DB;
 }

 .card_background {
  background-color: #7D8ABC;
 }

 .text_color {
  color: #304463;
  text-decoration: none;
 }

 .home {
  max-width: 40vh;
 }
 .search_image {
  max-height: 40vh;
  max-width: 40vh;
 }

 .button {
  background-color: #FFFFFF;
  border: none;
 }

 .navbar_text_color {
  color: #FFF8DB;
 }

 .icon_color {
  color: #304463;
 }

 .background--custom {
  background-image: linear-gradient(90deg, #5BCEFA, #FFFFFF, #F5A9B8);
  background-size: 300% 300%;
  animation: gradient 5s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
  @keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
